@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";
// customize variables and stuff here
@import "node_modules/bulma/bulma";

body{
    background-color: $dark;
}

.cover{
    object-fit: cover;
}

.cut-text { 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
}

.visit-btn{
    width: 100%;
}